.jumbotron{
	
	background-image: url("Rectangle 74.png");
	padding-top:150px;
	padding-bottom:150px;
	
}
.responsive{
 width: 100%;
  height: auto;
}
body{
font-family: 'Source Sans Pro', sans-serif;

}
.b{
	
	margin-left: 55px;
	
}
